$max-width: 1200px;
$gutter: 20px;
$trans: 0.3s;
// litir:
$black: #000;
$darkgrey: #999;
$grey: #aaa;
$lightgrey: #ccc;
$lightgreen: #2d2;
$darkgreen: #1a1;
$yellow: #fcffd2;
$brown: #cc9694;
// letur:
$mainfont: "Lora", "Times New Roman", serif;
$headerfont: "Roboto Mono", "Courier New", monospace;
$fontsize: 16px;
