// fyrir uppsetningu fyrirlestra á forsíðu, hver fyrirlestur er flexbox
@import "config";
main{
  display: flex;
}
.fyrirlestur{
  display: flex;
  background-image: ; //thumbnail

  &__title{

  }


}
