// stjórnar útliti fyrirlestranna í fyrirlestur.html
@import "config";

.lecture {
  width: 0.66*$max-width;
  margin: auto;

  &__title {
    padding-bottom: $gutter*3;
    font-family: $headerfont;
    font-size: $fontsize*4;
  }

  &__category{
    padding-top: $gutter*3;
    font-family: $headerfont;
    font-size: 2*$fontsize;
    text-transform: uppercase;
  }
  &__header {
    // á að vera breytilegt eftir fyrirlestri code/code2
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, .6);
    background-size: 100%;
  }
}

.thing {
  &--heading {
    width: 100%;
    font-family: $headerfont;
    font-size: 2*$fontsize;
    margin: auto;
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__text {
    width: 100%;
    font-family: $mainfont;
    font-size: $fontsize;

    margin-top: $gutter;
    margin-bottom: $gutter;
    line-height: 2;
  }

  &--youtube {
    position: relative;
    padding-bottom: 56.25%;
    align-items: center;
  }

  &__iframe {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__pre {
    margin-top: $gutter;
    margin-bottom: $gutter;
    font-family: $headerfont;
  }

  &--blockquote {
    background-color: $lightgrey;
    background-size: 100%;
    padding: $gutter;
  }

  &__author {
    padding-top: $gutter;
    font-style: italic;
  }

  &__li{
    padding-top: $gutter/2;
    padding-bottom: $gutter/2;
    line-height: 1.5;
  }
}

.item{
  &__alt {
    font-style: italic;
  }
  &__image {
    width: 100%;
    text-align: center;
  }
}


@media (max-width: 800px){
  .lecture{
    width: 100%;
    padding: $gutter;
    margin: auto;
  }
}
