// stjórnar útliti fyrirlestranna í fyrirlestur.html
@import "config";

.lecture-page > header {
  background-image: url("../img/code.jpg"); // á að vera breytilegt eftir fyrirlestri code/code2
}

.lecture {
  width: 66%;
  margin: auto;

  &__heading {
    width: 100%;
    font-family: $headerfont;
    font-size: 2*$fontsize;
    margin: auto;
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__text {
    width: 100%;
    font-family: $mainfont;
    font-size: $fontsize;

    margin: auto;
    margin-bottom: $gutter;
    line-height: 2;
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%;
    align-items: center;

    &__youtube {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }

  &__quote {
    padding: $gutter;
    font-family: $mainfont;
    background-color: $lightgrey;

    &__data {
      margin-bottom: $gutter;
    }

    &__attribute {
      font-style: italic;
    }
  }

  &__code {
    margin-top: $gutter;
    margin-bottom: $gutter;
    font-family: $headerfont;
  }

  &__list {
    margin-bottom: $gutter;

    &__item {
      margin-bottom: $gutter;
    }
  }
}

@media (max-width: 800px){
  .lecture{
    width: 100%;
    padding: $gutter;
    margin: auto;
  }
}
