@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
  font-family: $mainfont;
  font-size: $fontsize;

}
main {

}

img { /* stylelint-disable-line */
  max-width: 100%;
}

h1 {
  font-family: $headerfont;
  font-size: $fontsize;
}

h2 {
  font-family: $headerfont;
  font-size: 2*$fontsize;
}

h3 {
  font-family: $headerfont;
  font-size: 2*$fontsize;
  width: $content-width;
  margin: auto;
}

p {
  font-family: $mainfont;
  font-size: $fontsize;
  width: $content-width;
  line-height: 1.5;
  margin: auto;
}

.footer__link {
  font-family: $headerfont;
  text-align: center;
  margin: $gutter;
  padding-bottom: $gutter;

  & > a {
    text-decoration: none;
  }
}

@media (max-width:700px) {

  width: 100%;
}


.header {
  background-image: url("../img/header.jpg");
  background-size: 100%;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.6);
  text-align: center;
  &__title {
    font-family: $headerfont;
    padding-bottom: $gutter*3;
    font-size: $fontsize*4;
  }
  &__course {
    padding-top: $gutter*3;
    text-transform: uppercase;
    font-family: $headerfont;
  }
}

.lecture-page > header {
  background-image: url("../img/code.jpg");
}
.buttons {
  display: flex;
  margin-bottom: $gutter * 2;
  justify-content: center;
//  list-style: none;

  &__button {
    margin-right: $gutter;
    margin-left: $gutter;

    font-family: $headerfont;
    font-size: $fontsize*1.5;
    font-weight: bold;

    background-color: #ccc;
    border-radius: 16px;

    transition: background-color 300ms ease-in-out;

    &:hover {
      background-color: $darkgrey;
    }

    &--active {
      background-color: $lightgreen;

      &:hover {
        background-color: $darkgreen;
      }
    }
  }
}
// .buttons {
//   display: flex;
//   justify-content: center;
// }
//
// .buttons > * {
//   background-color: $lightgrey;
//   font-family: $headerfont;
//   font-weight: bold;
//   border-radius: 12px;
//   color: $black;
//   padding: $gutter/2;
//   margin: $gutter/2;
//   text-align: center;
//   display: inline-block;
//   font-size: $fontsize;
//
//   &:hover{
//     background-color: $darkgrey;
//   }
//
// /* virkar ekki alveg, held það skáni þegar virkni kemur með (: */
// /* gúgl segir mer að það sé skynsamlegra að breyta þessu með js */
//   &:active{
//     background-color: $lightgreen;
//   }
// }


iframe {
  position: relative;
  width: $content-width;

  display: block;
  margin: 0 auto;
}
