//almennt útlit forsíðunnar, takkanna, header og footer
@import "config";
@import "lecture";
@import "index";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
  font-family: $mainfont;
  font-size: $fontsize;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

.footer__link {
  margin: $gutter*2;
  font-family: $headerfont;
  text-align: center;
}

.a {
  color: $black;
  text-decoration: none;
}

.header {
  text-align: center;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: inset 0 0 1000px rgba(255, 255, 255, 0.6);

  &__title {
    padding-bottom: $gutter*3;
    font-family: $headerfont;
    font-size: $fontsize*4;
  }

  &__course {
    padding-top: $gutter*3;
    font-family: $headerfont;
    text-transform: uppercase;
  }
}

.buttons {
  display: flex;
  margin-top: $gutter/2;
  margin-bottom: $gutter * 2;
  justify-content: center;

  &__button {
    padding: $gutter/2 $gutter;
    margin-right: $gutter;
    margin-left: $gutter;

    font-family: $headerfont;
    font-size: $fontsize*1.5;
    font-weight: bold;

    color: $black;
    background-color: #ccc;
    border-radius: 16px;

    transition: background-color $trans ease-in-out;

    &:hover {
      background-color: $darkgrey;
    }

    &--clicked {
      background-color: $lightgreen;
    }
  }
}
